In [1]:
import numpy as np
import pandas as pd
import os
import glob
from datetime import datetime

In [31]:

class Data():
    def __init__(self, path = None):
        
        self.directory = (glob.glob("/Data*merged.csv")) 
        # Add All the functionality to the class for organisation
        self.dailyNames = (glob.glob("daily*merged.csv")) 


        self.init()
        self.pdfs = []
        self.dailies = {}
    def init(self):
        for idx, dataName in enumerate(self.directory):
            self.pdfs.append(self.getDF(-1,dataName))

        for idx, data in enumerate(self.dailyNames):
            self.dailies[data]  =self.getDF(data)


    def getDF(self, i, byname =0):
        if(byname != 0):
            return(pd.read_csv(byname))
        return(pd.read_csv(self.directory[i]))





def containTimeInstant():
    timeList = ["time, "]

def read_file(path, specify = False, convertTimeDate = False):
    """ 
    read files
    """
    # formatting to pandas
    pd.Timestamp('2014-01-23 00:00:00', tz=None).to_pydatetime()

    # read csv
    df  = pd.read_csv(path)
    if(specify):
        print(path)
        print(f"Size: {df.shape}")
        print(df.head(10))
        print(df.columns)
        print((df.Id.unique()))
        print((list(df.columns)))
    df.dropna(subset=list(df.columns), how='any', axis=0).reset_index(inplace = True)

    if(convertTimeDate):
        pass

    ID = "Id"
    if ID in list(df.columns):
        # df['date_column'] = pd.to_datetime(df['datetime_column']).dt.date
        return df
    return None


def saved_file(df, name ):
    df.to_csv(f'{name}.csv')

def merge_data_to_one(files, safefile = False, saveFileName = "OutputMerged"):
    outputMerged = pd.DataFrame()
    
    for idx, fileName in enumerate(set(files)):
        data = read_file(fileName)
        if isinstance(data, pd.DataFrame):
            print(fileName)
            if(idx<1):
                outputMerged = data
            else:
                pd.merge(outputMerged, data, on = 'Id', how="left")
    
    if safefile: saved_file(outputMerged, saveFileName)


def compareSimilarity(A, B):
    A.sort()
    B.sort()

    max_val = max([len(A),len(B)])

    if max_val == len(A):arrMax, secondMax =A, B 
    else: arrMax, secondMax =A, B = A, B 
    
    sumCountSimilarities = 0

    sum_=0
    for i in list(arrMax):
        for j in list(secondMax):
            if i==j:
                if i<j : break
                sumCountSimilarities+=1
                break
             
    return (sumCountSimilarities, sumCountSimilarities/max_val)


def compareamountof(lists):
    l = len(lists)
    output = []

    for i in range(l):
        for j in range(i, l):
            A = read_file(lists[i])
            B = read_file(lists[j])


            similarities, ratiosim = compareSimilarity(A.Id.unique(), B.Id.unique())
            output.append([lists[i], lists[j],similarities, ratiosim])

    return output

In [25]:
data_csvs = (glob.glob("*merged.csv")) 
data_csvs

['dailyActivity_merged.csv',
 'dailyCalories_merged.csv',
 'dailyIntensities_merged.csv',
 'dailySteps_merged.csv',
 'heartrate_seconds_merged.csv',
 'hourlyCalories_merged.csv',
 'hourlyIntensities_merged.csv',
 'hourlySteps_merged.csv',
 'minuteCaloriesNarrow_merged.csv',
 'minuteCaloriesWide_merged.csv',
 'minuteIntensitiesNarrow_merged.csv',
 'minuteIntensitiesWide_merged.csv',
 'minuteMETsNarrow_merged.csv',
 'minuteSleep_merged.csv',
 'minuteStepsNarrow_merged.csv',
 'minuteStepsWide_merged.csv',
 'sleepDay_merged.csv',
 'weightLogInfo_merged.csv']

In [26]:
dailyData = (glob.glob("daily*merged.csv"))  +  (glob.glob("heartrate*merged.csv"))

In [32]:
print(compareamountof(dailyData))

[['dailyActivity_merged.csv', 'dailyActivity_merged.csv', 33, 1.0], ['dailyActivity_merged.csv', 'dailyCalories_merged.csv', 33, 1.0], ['dailyActivity_merged.csv', 'dailyIntensities_merged.csv', 33, 1.0], ['dailyActivity_merged.csv', 'dailySteps_merged.csv', 33, 1.0], ['dailyActivity_merged.csv', 'heartrate_seconds_merged.csv', 14, 0.42424242424242425], ['dailyCalories_merged.csv', 'dailyCalories_merged.csv', 33, 1.0], ['dailyCalories_merged.csv', 'dailyIntensities_merged.csv', 33, 1.0], ['dailyCalories_merged.csv', 'dailySteps_merged.csv', 33, 1.0], ['dailyCalories_merged.csv', 'heartrate_seconds_merged.csv', 14, 0.42424242424242425], ['dailyIntensities_merged.csv', 'dailyIntensities_merged.csv', 33, 1.0], ['dailyIntensities_merged.csv', 'dailySteps_merged.csv', 33, 1.0], ['dailyIntensities_merged.csv', 'heartrate_seconds_merged.csv', 14, 0.42424242424242425], ['dailySteps_merged.csv', 'dailySteps_merged.csv', 33, 1.0], ['dailySteps_merged.csv', 'heartrate_seconds_merged.csv', 14, 0.42424242424242425], ['heartrate_seconds_merged.csv', 'heartrate_seconds_merged.csv', 14, 1.0]]

In [21]:
len(read_file(dailyData[2]).Id.unique())

dailyIntensities_merged.csv
['Id', 'ActivityDay', 'SedentaryMinutes', 'LightlyActiveMinutes', 'FairlyActiveMinutes', 'VeryActiveMinutes', 'SedentaryActiveDistance', 'LightActiveDistance', 'ModeratelyActiveDistance', 'VeryActiveDistance']

33

In [22]:
pd.Timestamp('2014-01-23 00:00:00', tz=None).to_pydatetime()

df= read_file(data_csvs[4])
df.dropna(subset=list(df.columns), how='any', axis=0).reset_index(inplace = True)

df['Time'] = pd.to_datetime(df['Time']).dt.date

heartrate_seconds_merged.csv
['Id', 'Time', 'Value']

In [155]:
Sleepingdata= read_file(data_csvs[-2])
sleep_ID= Sleepingdata.Id.unique()

sleepDay_merged.csv
['Id', 'SleepDay', 'TotalSleepRecords', 'TotalMinutesAsleep', 'TotalTimeInBed']

In [148]:
print(sleep_ID== unique_ID)

False

C:\Users\admin\AppData\Local\Temp\ipykernel_12960\4166130050.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  print(sleep_ID== unique_ID)

In [156]:
data2= read_file(data_csvs[4])
print(f"Number of measured Heart Beat Perople:")
print( {len(data2.groupby("Id").count())})
unique_ID= data2.Id.unique()

heartrate_seconds_merged.csv
['Id', 'Time', 'Value']
Number of measured Heart Beat Perople:
{14}

In [162]:
print((list(unique_ID))

None

In [165]:
sum_

12

In [118]:
p2_2.describe()


p2_2.drop(columns={'LightlyActiveMinutes', 'FairlyActiveMinutes','SedentaryActiveDistance','ModeratelyActiveDistance'}, inplace= True, errors=True)

p2_2

KeyError: "['LightlyActiveMinutes', 'FairlyActiveMinutes', 'ModeratelyActiveDistance', 'SedentaryActiveDistance'] not found in axis"

In [111]:
data2= read_file(data_csvs[2])
p2_2= data2[data2.Id ==1503960366]

datasleep= read_file(data_csvs[-2])
p1 = datasleep[datasleep.Id ==1503960366]
p1.rename(columns={'SleepDay': 'Date'},
          inplace=True, errors='raise')
p2_2.rename(columns={'ActivityDay': 'Date'},
          inplace=True, errors='raise')

p1.Date = p1.Date.str.slice(0, -11,1)

# d = p1.SleepDay.apply(lambda x: dt.datetime.strptime(x,infer_datetime_format=True))
# p1['SleepDay'] = pd.to_datetime(p1['SleepDay']) 

pd.merge(p2_2, p1)
# Intensives= data2.groupby("Id").sum()[['TotalSteps','Calories' ]]

dailyIntensities_merged.csv
['Id', 'ActivityDay', 'SedentaryMinutes', 'LightlyActiveMinutes', 'FairlyActiveMinutes', 'VeryActiveMinutes', 'SedentaryActiveDistance', 'LightActiveDistance', 'ModeratelyActiveDistance', 'VeryActiveDistance']
sleepDay_merged.csv
['Id', 'SleepDay', 'TotalSleepRecords', 'TotalMinutesAsleep', 'TotalTimeInBed']

C:\Users\admin\AppData\Local\Temp\ipykernel_12960\3863648179.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1.rename(columns={'SleepDay': 'Date'},
C:\Users\admin\AppData\Local\Temp\ipykernel_12960\3863648179.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2_2.rename(columns={'ActivityDay': 'Date'},
C:\Users\admin\AppData\Local\Temp\ipykernel_12960\3863648179.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p1.Date = p1.Date.str.slice(0, -11,1)

Empty DataFrame
Columns: [Id, Date, SedentaryMinutes, LightlyActiveMinutes, FairlyActiveMinutes, VeryActiveMinutes, SedentaryActiveDistance, LightActiveDistance, ModeratelyActiveDistance, VeryActiveDistance, TotalSleepRecords, TotalMinutesAsleep, TotalTimeInBed]
Index: []

In [109]:

p2_2

,Id,Date,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance
0,1503960366,4/12/2016,728,328,13,25,0.0,6.06,0.55,1.88
1,1503960366,4/13/2016,776,217,19,21,0.0,4.71,0.69,1.57
2,1503960366,4/14/2016,1218,181,11,30,0.0,3.91,0.40,2.44
3,1503960366,4/15/2016,726,209,34,29,0.0,2.83,1.26,2.14
4,1503960366,4/16/2016,773,221,10,36,0.0,5.04,0.41,2.71
5,1503960366,4/17/2016,539,164,20,38,0.0,2.51,0.78,3.19
6,1503960366,4/18/2016,1149,233,16,42,0.0,4.71,0.64,3.25
7,1503960366,4/19/2016,775,264,31,50,0.0,5.03,1.32,3.53
8,1503960366,4/20/2016,818,205,12,28,0.0,4.24,0.48,1.96
9,1503960366,4/21/2016,838,211,8,19,0.0,4.65,0.35,1.34
10,1503960366,4/22/2016,1217,130,27,66,0.0,2.24,1.12,4.76
11,1503960366,4/23/2016,732,262,21,41,0.0,5.36,0.87,2.81
12,1503960366,4/24/2016,709,238,5,39,0.0,3.28,0.21,2.92
13,1503960366,4/25/2016,814,216,14,73,0.0,3.94,0.57,5.29
14,1503960366,4/26/2016,833,279,23,31,0.0,5.54,0.92,2.33
15,1503960366,4/27/2016,1108,243,11,78,0.0,5.41,0.41,6.40
16,1503960366,4/28/2016,782,189,28,48,0.0,3.79,1.16,3.54
17,1503960366,4/29/2016,815,243,12,16,0.0,5.58,0.50,1.06
18,1503960366,4/30/2016,712,217,34,52,0.0,4.27,1.42,3.56
19,1503960366,5/1/2016,730,246,35,33,0.0,2.92,1.60,2.29
20,1503960366,5/2/2016,798,277,15,41,0.0,5.92,0.57,3.21
21,1503960366,5/3/2016,816,254,24,50,0.0,4.88,1.05,3.73
22,1503960366,5/4/2016,1179,203,22,36,0.0,3.82,0.87,2.46
23,1503960366,5/5/2016,857,250,24,45,0.0,4.88,1.08,2.92
24,1503960366,5/6/2016,754,289,6,24,0.0,5.81,0.25,1.97
25,1503960366,5/7/2016,833,175,46,37,0.0,3.13,2.12,2.46
26,1503960366,5/8/2016,574,203,8,44,0.0,2.73,0.32,3.53
27,1503960366,5/9/2016,835,206,11,46,0.0,3.74,0.53,3.45
28,1503960366,5/10/2016,746,214,31,46,0.0,3.26,1.16,3.35
29,1503960366,5/11/2016,669,251,23,36,0.0,4.55,1.01,2.56
30,1503960366,5/12/2016,1440,0,0,0,0.0,0.00,0.00,0.00

In [ ]:
data2= read_file(data_csvs[2])
data2[data2.Id ==1503960366].ActivityDay

In [33]:
data0= read_file(data_csvs[4])
steps_Calories= data0.groupby("Id").sum()[['TotalSteps','Calories' ]]

            TotalSteps  Calories
Id
1503960366      375619     56309
1624580081      178061     45984
1644430081      218489     84339
1844505072       79982     48778
1927972279       28400     67357
2022484408      352490     77809
2026352035      172573     47760
2320127002      146223     53449
2347167796      171354     36782
2873212765      234229     59426
3372868164      137233     38662
3977333714      329537     45410
4020332650       70284     73960
4057192912       15352      7895
4319703577      225334     63168
4388161847      335232     95910
4445114986      148693     67772
4558609924      238239     63031
4702921684      265734     91932
5553957443      266990     58146
5577150313      249133    100789
6117666160      197308     63312
6290855005      163837     75389
6775888955       65512     55426
6962181067      303639     61443
7007744171      294409     66144
7086361926      290525     79557
8053475328      457662     91320
8253242879      123161     33972
8378563200      270249    106534
8583815059      223154     84693
8792009665       53758     56907
8877689391      497241    106028